---
layout: default
---

<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
		<h1>{{ page.title }}</h1>
    <img src="/images/cl/{{page.goodreads_id}}.jpg" width="200" align="right" />
		<h4>By {{ page.author }}</h4>
    <p>
      <em>Pages</em>: {{page.pages}}<br />
      <em>Finished Reading</em>: {{page.finished}}<br />
      <em>Rating</em>: {{page.rating}} / 5<br />
      <em>Shelves</em>: {{page.shelves}}<br />
    </p>
		{{ content }}
    <br clear="all" />

    <div id="page-navigation"> 
        <div class="clear">&nbsp;</div> 
        <div class="left"> 
        {% if page.previous.url %} 
                <a href="{{page.previous.url}}" title="Previous: {{page.previous.title}}">&laquo; 
                  <img src="/images/cs/{{page.previous.goodreads_id}}.jpg" />
                </a> 
        {% endif %} 
        </div> 

        <div class="right"> 
        {% if page.next.url %} 
                <a href="{{page.next.url}}" title="Next: {{page.next.title}}">
                  <img src="/images/cs/{{page.next.goodreads_id}}.jpg" />
                </a> &raquo;
        {% endif %} 
        </div> 
        <div class="clear">&nbsp;</div> 
</div> 
</div>
